.container {
  @include text-style(14, $black);

  .header {
    margin-bottom: 40px;
    text-align: center;

    > h2 {
      @include text-style(20, $black, 600);
    }

    > p {
      margin-top: 15px;
    }
  }
  .form {
    @include column-flex(between, stretch);
    min-height: 56vh;
  }

  .button-container {
    margin-top: auto;

    button {
      margin-top: 10px;
      padding: 0 10px;
    }
  }
}
