.container {
  @include text-style(14, $black);
  position: relative;

  .header {
    margin-bottom: 40px;
    text-align: center;

    > h2 {
      @include text-style(20, $black, 600);
    }
  }

  .button-container {
    margin-top: 40px;

    button {
      padding: 0 10px;
    }
  }

  .link-container {
    @include flex;
    gap: 32px;
    margin-top: 26px;

    a {
      display: block;
      padding: 9px;
      color: $gray-90;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social {
    &-container {
      margin-top: 37px;
      text-align: center;

      > h3 {
        @include text-style(12, $gray-90, 400);
        position: relative;
        padding: 9px;

        &::before {
          @include pos-center-y;
          left: 0;
          top: 18px;
          max-width: 106px;
          width: 100%;
          height: 1px;
          background-color: $gray-40;
          content: "";

          @include tablet {
            max-width: 40%;
          }

          @include mobile {
            max-width: 30%;
          }
        }

        &::after {
          @include pos-center-y;
          right: 0;
          top: 18px;
          max-width: 106px;
          width: 100%;
          height: 1px;
          background-color: $gray-40;
          content: "";

          @include tablet {
            max-width: 40%;
          }

          @include mobile {
            max-width: 30%;
          }
        }
      }
    }

    &__list {
      @include flex;
      gap: 22px;
      margin-top: 43px;
    }

    &__item {
      @include flex;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: $white;

      &-kakao {
        background-color: $social-kakao;

        &:hover {
          background-color: $social-kakao-hover;
        }
      }

      &-naver {
        background-color: $social-naver;

        &:hover {
          background-color: $social-naver-hover;
        }
      }

      &-google {
        &:hover {
          background-color: $gray-10;
        }
      }
    }
  }

  .signiup-text {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 170px);
    color: $gray-70;
    text-align: center;

    > a {
      display: inline-block;
      margin-left: 10px;
      font-weight: 600;
      text-decoration: underline;
    }

    @include tablet {
      position: relative;
      margin-top: 55px;
    }
  }
}
