.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  @include tablet {
    margin-bottom: 4px;
  }
}

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  @include tablet {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  @include tablet {
    gap: 18px;
  }
}
