.input {
  @include text-style(14, $black);
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border: 2px solid $gray-20;
  border-radius: 8px;
  line-height: 1.4;
  background-color: $white;

  &::placeholder {
    @include text-style(14, $gray-60);
  }

  &:focus {
    border: 1px solid $blue-40;
  }

  &:disabled,
  &:read-only {
    @include text-style(14, $gray-50);
    background-color: $gray-disabled;
  }

  &-field {
    @include column-flex(center, start);
    max-width: 337px;
    width: 100%;
    margin-bottom: 12px;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }

    &--full {
      max-width: 100%;
    }

    &--error {
      .input {
        border: 1px solid $alert-red;

        &:focus {
          border-color: $alert-red;
        }
      }
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;

    .btn-toggle-pw {
      @include pos-center-y;
      right: 15px;
      z-index: 1;
      width: 20px;
      height: 20px;
    }
  }
}

.error-message {
  @include text-style(12, $alert-red, 600);
  margin-top: 2px;
  margin-left: auto;
}
