.input {
  @include text-style(14, $black);
  width: 100%;
  height: 50px;
  padding: 0 17px;
  border: 2px solid $gray-20;
  border-radius: 8px;
  line-height: 1.4;
  background-color: $white;

  &::placeholder {
    @include text-style(14, $gray-60);
  }

  &:focus {
    border: 1px solid $blue-40;
  }

  &:disabled,
  &:read-only {
    @include text-style(14, $gray-50);
    background-color: $gray-disabled;
    border: 2px solid $gray-20;
    cursor: unset;
  }

  &-field {
    @include column-flex(center, start);
    max-width: 337px;
    width: 100%;
    line-height: 1.4;

    &--full {
      max-width: 100%;
    }

    &--horizontal {
      max-width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;

      > label {
        min-width: 205px;
        margin-bottom: 0;
        margin-top: 15px;
      }

      .info-message {
        @include text-style(12, $gray-70);
      }

      .error-message {
        font-size: 12px;
      }

      @include tablet {
        @include column-flex(center, start);

        > label {
          min-width: auto;
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
    }

    &--error {
      .input {
        border: 1px solid $alert-red;

        &:focus {
          border-color: $alert-red;
        }
      }
    }

    @include tablet {
      max-width: 100%;
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;

    .button-toggle-pw {
      position: absolute;
      top: 15px;
      right: 16px;
      z-index: 1;
      width: 20px;
      height: 20px;
    }

    .unit {
      @include text-style(14, $gray-60);
      position: absolute;
      top: 15px;
      right: 17px;
      z-index: 1;
    }
  }
}

.error-message {
  @include text-style(12, $alert-red, 600);
  margin-top: 2px;
  margin-left: auto;
}

.info-message {
  @include text-style(10, $gray-80);
  margin-top: 6px;
}
