.container {
  @include column-flex(between, stretch);
  @include text-style(14, $black);

  .header {
    text-align: center;

    > h2 {
      @include text-style(20, $black, 600);
    }

    > p {
      @include text-style(12, $gray-70);
      margin-top: 15px;
    }
  }

  .img-wrapper {
    margin: 20px 0;
  }

  .address-container {
    @include flex(end, center);
    gap: 5px;

    input {
      flex-grow: 1;
    }

    button {
      @include text-style(14, $blue-40, 500);
      flex-shrink: 0;
      width: 80px;
      padding: 0 10px;
      margin-top: 20px;
    }
  }

  .button-container {
    margin-top: 26px;

    button {
      margin-top: 10px;
      padding: 0 10px;
    }
  }
}
