.category-tab {
  display: flex;
  width: 100%;
  gap: 10px;
  overflow-x: scroll;
  &__button {
    @include text-style(16, $black);
    width: max-content;
    height: 38px;
    padding: 0px 16px;
    border-radius: 20px;
    border: 1px solid $gray-20;
    background-color: $white;
    transition: 0.2s;

    &--active,
    &:hover {
      border: 1px solid $blue-10;
      background-color: $blue-10;
    }
    &--active {
      color: $blue-40;
    }

    @include tablet {
      height: 36px;
      font-size: 14px;
    }
  }
}
