.wrapper {
  @include flex();
}

.toggle {
  position: relative;
  appearance: none;
  width: 50px;
  height: 20px;
  background-color: $gray-30;
  border-radius: 30px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
  @include tablet {
    width: 40px;
    height: 16px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    height: 26px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $white;
    transition: left 0.2s linear;
    filter: drop-shadow(2px 0px 4px rgba(109, 106, 144, 0.2))
      drop-shadow(0px 4px 4px rgba(109, 106, 144, 0.05))
      drop-shadow(0px 25px 10px rgba(109, 106, 144, 0.02));
    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
  &:checked {
    background-color: $blue-40;
    &::after {
      left: 50%;
    }
  }
}
