.layout {
  @include flex(start, start);
  gap: 70px;
  padding: 50px 0 76px;

  &__left {
    width: 400px;
  }

  &__right {
    flex: 1;
  }

  @include desktop {
    gap: 50px;
  }

  @include tablet {
    @include column-flex(start, stretch);
    gap: 20px;
    width: 100%;
    padding-top: 0;

    &__left {
      flex-shrink: 1;
      width: 100%;
    }
  }
}
