.tag {
  &--page-list {
    @include text-style(14, false, 600);
    margin-bottom: 16px;
    line-height: 1.4;
    @include tablet {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.2;
    }
  }
  &--page-post {
    @include text-style(16, false, 600);
    @include tablet {
      font-size: 12px;
      line-height: 1.2;
    }
  }
  &--board-communities {
    &--category-QUESTION {
      color: $category-yellow;
    }
    &--category-KNOWHOW {
      color: $category-purple;
    }
    &--category-COMPANION {
      color: $category-mint;
    }
    &--category-ETC {
      color: $category-pink;
    }
  }
  &--board-follows {
    &--category-BLOG {
      color: $category-green;
    }
    &--category-INSTAGRAM {
      color: $category-purple;
    }
    &--category-YOUTUBE {
      color: $category-pink;
    }
    &--category-TIKTOK {
      color: $category-mint;
    }
    &--category-ETC {
      color: $category-yellow;
    }
  }
}
