.interaction {
  &-container {
    position: relative;

    .penalty {
      &-container {
        @include text-style(12);
        position: absolute;
        top: calc(100% - 16px);
        left: 27px;
        z-index: 1;
        max-width: 350px;
        width: 100%;
        padding: 20px;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: 12px;
        word-break: keep-all;

        @include tablet {
          right: 0;
          left: auto;
          top: calc(100% - 40px);
        }

        h5 {
          @include text-style(12, $gray-60, 500);
          margin-top: 20px;
        }

        .close-button {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      &__title {
        @include text-style(16, $black, 600);
        line-height: 1.4;
      }

      &__table {
        margin-top: 10px;

        table {
          width: 100%;
          border: 1px solid $gray-20;

          th,
          td {
            height: 29px;
            padding: 6px 10px;
            border: 1px solid $gray-20;
          }

          th {
            width: 80px;
            background-color: $gray-10;
          }

          td {
            width: calc(100% - 72px);
          }
        }
      }

      &__type {
        strong {
          @include text-style(14, $black, 600);
          display: block;
          margin: 10px 0 6px;
        }

        ul {
          li {
            position: relative;
            padding-left: 8px;
            line-height: 1.4;

            &::after {
              position: absolute;
              left: 0;
              top: 0;
              content: "-";
            }
          }
        }
      }
    }
  }

  &__list {
    @include column-flex(center, start);
    position: relative;
    gap: 20px;
  }

  &__item {
    @include flex(between);
    @include text-style(18, $black, 600);
    width: 100%;
    height: 64px;
    padding: 20px 24px;
    background-color: $gray-10;
    border-radius: 8px;

    > p {
      span {
        display: inline-block;
        padding-left: 6px;
      }
    }
  }

  @include tablet {
    &__list {
      flex-direction: row;
      gap: 12px;
      margin: 0;
    }

    &__item {
      @include column-flex(center, start);
      min-height: 80px;
      padding: 12px;

      > p {
        span {
          display: block;
          margin-top: 10px;
          padding-left: 0;
          text-align: left;
        }

        @include mobile {
          font-size: 14px;
        }
      }

      > svg {
        display: none;
      }

      &:last-child {
        position: relative;

        button {
          display: block;
          position: absolute;
          top: 16px;
          right: 12px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
