.img {
  &-container {
    @include column-flex(center, start);
    position: relative;
    width: fit-content;

    > button {
      position: relative;
      overflow: hidden;
      width: 140px;
      height: 140px;
      border-radius: 8px;

      @include tablet {
        width: 100%;
      }

      > img {
        width: 140px;
        height: 140px;
        object-fit: cover;
      }
    }
  }

  label {
    @include text-style(14, $gray-80);
    margin-bottom: 6px;
  }

  .img-default-button {
    position: absolute;
    top: 23px;
    right: -5px;
    z-index: 1;
  }
}
