.button {
  @include flex();
  @include text-style(16, $gray-70, 600);
  width: 100%;
  padding: 15px 10px;
  gap: 10px;
  background-color: $gray-10;
  border-radius: 8px;
  & > svg {
    width: 12px;
    height: 12px;
  }
}
