.wrapper {
  @include inline-flex();
  @include text-style(12, false, 400);
  width: fit-content;
  padding: 10px;
  border: 1px solid $gray-40;
  border-radius: 2px;
  @include tablet {
    border-radius: 4px;
  }
}

.count {
  color: $blue-50;
}
