$white: #fff;

$gray-disabled: #f8f8f8;
$gray-10: #f5f7fa;
$gray-20: #ededef;
$gray-30: #dadada;
$gray-40: #c7c8cc;
$gray-50: #acadb3;
$gray-60: #868890;
$gray-70: #6f717b;
$gray-80: #4b4d5a;
$gray-90: #444652;
$gray-100: #292a32;

$black: #202026;

$blue-10: #edf0fe;
$blue-20: #c7cffd;
$blue-30: #acb8fb;
$blue-40: #4b65f7;
$blue-50: #445ce1;

$sky-blue-10: #eaf7ff;
$sky-blue-100: #18a0fb;

$purple-10: #f3f1fe;
$purple-20: #9d8df6;
$purple-30: #8471f4;
$purple-40: #7867de;
$purple-50: #372f66;

$alert-red: #ff3d3d;
$alert-green: #1ca22c;
$alert-blue: #0167ff;

$gradation-dain: linear-gradient(to bottom right, #4b65f7, #4bd0ff);
$gradation-premium: linear-gradient(to bottom right, #6423ff, #c479ff);
