$white: #fff;

$gray-disabled: #f8f8f8;
$gray-10: #f5f7fa;
$gray-20: #ededef;
$gray-30: #dadada;
$gray-40: #c7c8cc;
$gray-50: #acadb3;
$gray-60: #868890;
$gray-70: #6f717b;
$gray-80: #4b4d5a;
$gray-90: #444652;
$gray-100: #292a32;

$black: #202026;

$blue-10: #edf0fe;
$blue-20: #c7cffd;
$blue-30: #acb8fb;
$blue-40: #4b65f7;
$blue-50: #445ce1;

$sky-blue: #f6faff;
$sky-blue-10: #eaf7ff;
$sky-blue-100: #18a0fb;

$purple-10: #f3f1fe;
$purple-20: #9d8df6;
$purple-30: #8471f4;
$purple-40: #7867de;
$purple-50: #372f66;

$red: #ff5959;

$alert-red: #ff3d3d;
$alert-green: #1ca22c;
$alert-blue: #0167ff;

$category-yellow: #ffc107;
$category-purple: #ae2aff;
$category-mint: #3dcbdb;
$category-pink: #ff4a8b;
$category-green: #38af00;

$social-kakao: #fee500;
$social-kakao-hover: #fada0a;
$social-naver: #06be34;
$social-naver-hover: #07b432;

$gradation-dain: linear-gradient(to bottom right, #4b65f7, #4bd0ff);
$gradation-premium: linear-gradient(to bottom right, #6423ff, #c479ff);

$box-shadow: 0 4px 12px 0 rgba(109, 106, 144, 0.2);
$board-box-shadow:
  0 25px 10px 0 rgba(109, 106, 144, 0.02),
  0 14px 8px 0 rgba(109, 106, 144, 0.05),
  0 6px 6px 0 rgba(109, 106, 144, 0.1),
  2px 0 4px 0 rgba(109, 106, 144, 0.2);
$profile-box-shadow: 0px 4px 10px 0px rgba(32, 32, 38, 0.04);
