$font-main: "Pretendard", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;

$font-size-10: 10px;
$line-height-10: 1.2;

$font-size-12: 12px;
$line-height-12: 1.4;

$font-size-14: 14px;
$line-height-14: 1.4;

$font-size-16: 16px;
$line-height-16: 1.4;

$font-size-18: 18px;
$line-height-18: 1.4;

$font-size-20: 20px;
$line-height-20: 1.2;

$font-size-24: 24px;
$line-height-24: 1.2;

$font-size-28: 28px;
$line-height-28: 1.2;

$font-size-32: 32px;
$line-height-32: 1.2;

$font-size-36: 36px;
$line-height-36: 1.2;
