.section {
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .header {
    margin-bottom: 20px;

    .title {
      @include text-style(24, $black, 600);
      display: inline-block;
    }

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 20px;
      background-color: $gray-40;
      content: "";
    }

    p {
      @include text-style(14, $gray-80);
      position: relative;
      top: -4px;
      display: inline-block;
      padding-left: 10px;

      span {
        font-weight: 500;
      }

      @include tablet {
        display: block;
        padding-left: 0;
        padding-top: 10px;
      }
    }
  }

  .contents {
    max-width: 545px;
    width: 100%;

    @include tablet {
      max-width: 100%;
    }
  }
}

.button-wrapper {
  @include flex;
  margin-top: 40px;
  padding-bottom: 20px;

  @include tablet {
    margin-top: 20px;
  }

  @include mobile {
    > button {
      width: 100%;
      padding: 0 10px;
    }
  }
}
