.top-button {
  position: fixed;
  right: calc((100% - 1400px) / 2 - 170px);
  bottom: 220px;
  transition:
    opacity 0.4s,
    visibility 0.4s;
  z-index: $top-level;

  &:hover {
    opacity: 0.8;
  }

  &--show {
    visibility: visible;
    opacity: 1;
  }

  &--hide {
    visibility: hidden;
    opacity: 0;
  }

  @include mobile {
    bottom: 190px;
  }

  @include tablet {
    bottom: 190px;
  }

  @media (max-width: 1740px) {
    right: 20px;
  }
}
