* {
  margin: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size-16;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-main;
  color: $black;
  font-weight: 400;
  line-height: 1.2;
}

main {
  display: block;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-drag: none;
}

address {
  font-style: normal;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-clear {
    display: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

:root {
  --white: #{$white};
  --gray-10: #{$gray-10};
  --gray-40: #{$gray-40};
}
