.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;

  @include desktop {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    padding-top: 52px;
  }

  &.main-page {
    @include tablet {
      max-width: 100%;
      padding: 0;
    }
    // overflow: hidden;
    padding-bottom: 150px;
  }
}
