.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 20px 0;

  @include tablet {
    padding-top: 52px;
  }

  &.main-page {
    @include tablet {
      max-width: 100%;
      padding: 0;
    }
  }
}
