.profile-img {
  &-container {
    @include column-flex;
    width: fit-content;
    position: relative;
    margin: 0 auto;

    .img-upload-button {
      position: relative;
      overflow: hidden;
      width: 95px;
      height: 95px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  > svg {
    position: absolute;
    right: -5px;
    bottom: -5px;
  }

  label {
    @include text-style(14, $gray-80);
    margin-top: 10px;
  }

  .img-default-button {
    margin-top: 10px;

    > button {
      @include text-style(14, $white, 400);
      padding: 0 20px;
    }
  }
}
