.container {
  @include text-style(14, $gray-80);
  margin-bottom: 20px;

  .title {
    margin-bottom: 6px;
  }

  .radio {
    &-wrapper {
      @include flex;
      gap: 6px;
    }

    &-button {
      @include flex;
      flex: 1;
      height: 50px;
      padding: 5px 17px;
      text-align: center;
      border: 2px solid $gray-20;
      border-radius: 8px;
      background-color: $white;
      cursor: pointer;

      &.active {
        @include text-style(14, $blue-40, 500);
        border: 1px solid $blue-40;
        background-color: $gray-10;
      }
    }

    &-input {
      display: none;
    }
  }

  &.horizontal {
    @include flex(start);

    .title {
      min-width: 205px;
      margin-bottom: 0;
    }

    .radio-wrapper {
      width: 100%;
    }

    @include tablet {
      @include column-flex(center, start);

      .title {
        min-width: auto;
        margin-top: 0;
        margin-bottom: 6px;
      }
    }
  }
}
