.container {
  @include column-flex(between, stretch);
  @include text-style(14, $black);

  .header {
    margin-bottom: 40px;
    text-align: center;

    > h2 {
      @include text-style(20, $black, 600);
    }

    > p {
      margin-top: 15px;
    }
  }

  .email-check {
    @include flex;
    position: relative;
    gap: 5px;

    input {
      flex-grow: 1;
    }

    button {
      @include text-style(14);
      flex-shrink: 0;
      width: 80px;
      padding: 0 10px;
      margin-top: 5px;
    }

    .error-message {
      @include text-style(12, $alert-red, 600);
      position: absolute;
      bottom: 3px;
      left: 0;
    }
  }

  .sns-container {
    margin-top: 38px;

    .title {
      @include text-style(14, $gray-80);
      margin-bottom: 6px;

      .text-underline {
        font-weight: 500;
      }
    }
  }

  .button-container {
    margin-top: 20px;

    button {
      padding: 0 10px;
    }
  }
}
