.li {
  padding: 30px 0;
  border-bottom: 1px solid $gray-10;
  @include tablet {
    padding: 16px 0;
  }
  &__link {
    &:hover > h3 {
      text-decoration: underline;
    }
  }
  &__title {
    @include text-style(16, $black, 600);
    line-height: 1.4;
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 2px;
    }
  }
  &__preview {
    @include text-style(14, $black, 400);
    @include line-clamp(1);
    line-height: 1.4;
    margin-bottom: 28px;
    @include tablet {
      margin-bottom: 12px;
    }
  }
}

.section {
  @include flex(space-between);
  @include text-style(14, $gray-70, 400);
  justify-content: space-between;
  line-height: 1.4;
  @include tablet {
    font-size: 12px;
  }
  &__list {
    @include flex();
    gap: 16px;
    @include tablet {
      gap: 12px;
    }
  }
  &__link {
    @include flex();
    gap: 8px;
    @include tablet {
      gap: 4px;
    }
    & > svg {
      width: 24px;
      height: 24px;
      @include tablet {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__comment-item {
    @include flex();
    gap: 4px;
    & > svg {
      width: 16px;
      height: 16px;
      @include tablet {
        width: 14px;
        height: 14px;
      }
    }
  }
}
