.article {
  margin: 30px 0;
  @include mobile {
    margin: 16px 0;
  }
  &__category {
    @include text-style(14, false, 600);
    margin-bottom: 16px;
    line-height: 1.4;
    @include mobile {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.2;
    }
    &--board-community {
      &--category-question {
        color: $category-yellow;
      }
      &--category-know-how {
        color: $category-purple;
      }
      &--category-accompany {
        color: $category-mint;
      }
      &--category-others {
        color: $category-pink;
      }
    }
    &--board-follows {
      &--category-blog {
        color: $category-green;
      }
      &--category-instagram {
        color: $category-purple;
      }
      &--category-youtube {
        color: $category-pink;
      }
      &--category-tictoc {
        color: $category-mint;
      }
      &--category-others {
        color: $category-yellow;
      }
    }
  }
  &__link {
    &:hover > h3 {
      text-decoration: underline;
    }
  }
  &__title {
    @include text-style(16, $black, 600);
    line-height: 1.4;
    margin-bottom: 10px;
    @include mobile {
      margin-bottom: 2px;
    }
  }
  &__preview {
    @include text-style(14, $black, 400);
    @include line-clamp(1);
    line-height: 1.4;
    margin-bottom: 28px;
    @include mobile {
      margin-bottom: 12px;
    }
  }
}

.section {
  @include flex(space-between);
  @include text-style(14, $gray-70, 400);
  justify-content: space-between;
  line-height: 1.4;
  @include mobile {
    font-size: 12px;
  }
  &__list {
    @include flex();
    gap: 16px;
    @include mobile {
      gap: 12px;
    }
  }
  &__link {
    @include flex();
    gap: 8px;
    @include mobile {
      gap: 4px;
    }
    & > svg {
      width: 24px;
      height: 24px;
      @include mobile {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__comment-item {
    @include flex();
    gap: 4px;
    & > svg {
      width: 16px;
      height: 16px;
      @include mobile {
        width: 14px;
        height: 14px;
      }
    }
  }
}
