// 공통
.section {
  margin-top: 80px;
  h2 {
    @include flex(between, center);
    @include text-style(24, $black, 500);
    margin-bottom: 30px;
    span {
      @include flex(between, center);
      svg {
        margin-left: 7px;
      }
    }
    button {
      @include flex(between, center);
      @include text-style(14, $gray-60, 500);
    }
  }
  &__top-banner {
    position: relative;
    .custom-nav {
      position: absolute;
      top: 50%;
      width: 100%;

      &__btn {
        position: absolute;
        z-index: 2;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid $gray-30;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-27px);
        cursor: pointer;
      }

      .left-button {
        left: -27px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 19.5L7.5 12L15 4.5' stroke='%23202026' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      .right-button {
        right: -27px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 4.5L16.5 12L9 19.5' stroke='%23202026' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__slide {
    position: relative;
    .custom-nav {
      position: absolute;
      top: 50%;
      width: 100%;

      &__btn {
        position: absolute;
        z-index: 2;
        width: 30px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      .left-button {
        left: -40px;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.25 38.125L2.125 20L20.25 1.875' stroke='%23C7C8CC' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      .right-button {
        right: -40px;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 1.875L19.875 20L1.75 38.125' stroke='%23C7C8CC' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__array {
    @include flex(between, start);
    > div {
      width: 48%;
    }
  }

  &__banner {
    width: 100%;
    height: 120px;
    margin-top: 120px;
    padding: 30px 50px;
    border-radius: 16px;
    background: url("/images/banner-desktop.png") no-repeat center bottom /
      cover;

    h4 {
      @include text-style(28, $white, 500);
    }
    p {
      @include text-style(18, $white, 400);
      margin-top: 10px;
    }
  }
}
