.item {
  display: flex;
  align-items: center;
  padding: 14px 12px 15px 24px;
  line-height: 1.4;
  border-bottom: 1px solid $gray-10;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0;
    gap: 5px;
  }
  &__link {
    @include text-style(16, false, 600);
    width: 632px;
    &:hover {
      text-decoration: underline;
    }
    @include mobile {
      width: auto;
    }
  }
  &__info {
    @include flex();
    @include text-style(14, $gray-70, 400);
    @include mobile {
      gap: 8px;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.date {
  @include flex();
  align-self: flex-start;
  width: 111px;
  margin-right: 35px;
  @include mobile {
    width: auto;
  }
}

.views {
  @include flex();
  width: 112px;
  @include mobile {
    width: auto;
  }
  &__text {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
