.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid $gray-20;

  &__content {
    @include flex(between, center);
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: auto;

    // 좌측 gnb 영역
    &--left {
      @include flex(start, center);
      @include text-style(18, $black, 600);
      gap: 90px;

      a {
        transition: 0.4s;

        &:hover {
          color: $blue-40;
        }
      }
    }

    // 우측 유저정보 영역
    &--right {
      position: relative;
      .user-info {
        @include flex(start, center);
        @include text-style(16, $black, 500);
        gap: 35px;

        // 공통 속성
        li {
          transition: 0.4s;
          &:hover {
            opacity: 0.7;
          }

          span {
            color: $blue-40;
          }

          button {
            @include text-style(16, $black, 500);
          }
        }

        // 로그인시
        &--login {
          .profile {
            @include flex(start, center);

            div {
              margin-right: 10px;
            }

            p {
              position: relative;
              &::after {
                content: "";
                display: inline-block;
                position: absolute;
                right: -15px;
                width: 1px;
                height: 16px;
                background-color: $gray-20;
              }
            }
          }
        }

        // 모달
        &__modal {
          position: absolute;
          display: block;
          top: 45px;
          border-radius: 8px;
          background-color: $white;
          box-shadow: $box-shadow;
          z-index: 10;
          overflow: hidden;

          li {
            text-align: center;
            transition: 0.4s;
            cursor: pointer;

            a {
              display: inline-block;
              padding: 14px 20px;
            }

            button {
              padding: 14px 20px;
            }
            &:hover {
              background-color: $blue-10;
              color: $black;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @include desktop {
    padding: 0px 40px;
    &__content {
      &--left {
        @include text-style(16, $black, 600);
        gap: 40px;
      }
      &--right {
        .user-info {
          @include flex(start, center);
          @include text-style(14, $black, 500);
          gap: 20px;

          &--login {
            .profile {
              p {
                font-size: 14px;
              }
            }
          }

          &__modal {
            display: block;

            li {
              a {
                padding: 13px 20px;
              }
              button {
                padding: 13px 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  @include tablet {
    height: 52px;
    &__mobile-right {
      @include flex(start, center);
      gap: 20px;
    }
  }

  @include mobile {
    padding: 0px 20px;
    &__mobile-right {
      gap: 10px;
    }
  }
}
