.count {
  &__list {
    @include flex;
    padding: 30px 0;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid $gray-20;
    border-radius: 8px;
    background-color: $white;

    @include tablet {
      padding: 20px 0;
    }
  }

  &__item {
    @include column-flex;
    flex-grow: 1;
    flex-basis: 1;
    border-right: 1px solid $gray-20;

    .title {
      @include text-style(18);
      line-height: 1.4;
      word-break: keep-all;

      @include tablet {
        @include text-style(14, $black, 500);
      }

      @include mobile {
        max-width: 40px;
      }
    }

    .count {
      @include text-style(36, $black, 600);
      margin-top: 15px;
      line-height: 1.4;

      @include tablet {
        margin-top: 6px;
        font-size: 24px;
      }
    }

    &:last-child {
      border-right: none;
    }
  }
}
