.products {
  @include flex(between, start);
  margin-bottom: 100px;

  &__left {
    width: calc(100% - 475px);
    padding-right: 50px;
    border-right: 1px solid $gray-20;
    h2 {
      @include flex(between, center);
      @include text-style(36, $black, 600);
      margin-top: 35px;
    }

    .product-summary {
      @include flex(start, center);
      margin-top: 20px;
      span {
        margin-right: 10px;
        svg {
          margin-top: 5px;
        }
      }
      p.point-info {
        @include flex(start, center);
        padding: 0px 5px;
        border-radius: 4px;
        border: 1px solid $gray-20;
        font-size: 12px;
        span {
          margin-left: 5px;
          margin-top: -3px;
        }
      }
    }

    .product-info-wrap {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid $gray-30;
      border-radius: 16px;
      .product-info {
        @include flex(start, start);

        &__img {
          width: 308px;
          height: 308px;
          border-radius: 8px;
          overflow: hidden;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__text {
          flex-grow: 1;
          padding-top: 10px;
          padding-left: 20px;
          h4 {
            @include text-style(18, $black, 600);
          }
          ul {
            margin-top: 18px;
            li {
              @include flex(start, center);
              @include text-style(14, $gray-70, 500);
              margin-bottom: 13px;
              .sub-title {
                font-weight: 600;
                width: 80px;
              }
              &:first-child {
                @include text-style(14, $black, 600);
              }
            }
          }

          .reward {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid $gray-20;

            p {
              margin-top: 15px;
              @include text-style(14, $black, 500);
            }
          }
        }
      }

      .product-notice {
        @include flex(start, center);
        margin-top: 20px;
        padding: 14px 20px;
        border-radius: 8px;
        background-color: $gray-10;
        svg {
          margin-top: 4px;
          margin-right: 10px;
        }
      }
    }

    .product-notice-list {
      margin-top: 60px;
      dl {
        @include flex(start, start);
        padding: 30px 0 15px;
        border-bottom: 1px solid $gray-20;

        &:last-child {
          border-bottom: none;
        }

        dt {
          @include text-style(16, $black, 500);
          width: 20%;
          &:first-child {
            font-size: 18px;
          }
        }
        dd {
          width: 100%;
          ol {
            @include flex(start, center);
            width: 100%;
            li {
              @include flex(start, center);
              flex-direction: column;
              margin-right: 40px;
              p {
                @include text-style(14, $black, 500);
              }
            }
          }
          ul {
            li {
              margin-bottom: 10px;
              p {
                position: relative;
                margin-left: 20px;
                padding-left: 10px;
                &::before {
                  position: absolute;
                  left: -5px;
                  top: -1px;
                  content: "-";
                  display: inline-block;
                }
                span {
                  font-weight: 500;
                }
              }
            }
          }
          .address {
            display: flex;
            p {
              margin-right: 10px;
            }
          }
          .map-wrap {
            width: 100%;
            height: 300px;
            margin-top: 10px;
            border-radius: 8px;
            border: 1px solid $gray-30;
            overflow: hidden;
          }
        }

        dd.tag-wrap {
          @include flex(start, center);
          gap: 7px;
        }
      }
      dl.mission {
        align-items: center;
        padding-bottom: 30px;
      }
    }

    .enterprise-info {
      @include flex(between, center);
      width: 100%;
      padding: 15px 20px;
      border: 1px solid $gray-20;
      border-radius: 8px;
      transition: 0.4s;

      &:hover {
        box-shadow: $box-shadow;
      }
      > div {
        @include flex(start, center);
        div {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
        }
        p {
          margin-left: 10px;
        }
      }
    }
  }

  &__right {
    width: 475px;
    padding-left: 50px;
    h3 {
      margin-top: 35px;
      span {
        color: $blue-40;
      }
    }
    > p {
      margin-top: 20px;
      span {
        font-weight: 600;
      }
    }
  }

  @include desktop {
    &__left {
      width: calc(100% - 405px);
      padding-right: 20px;

      .product-info-wrap {
        margin-top: 10px;
        padding: 15px;
        border: 1px solid $gray-30;
        border-radius: 10px;
        .product-info {
          @include flex(strat, start);
          flex-direction: column;
          flex-shrink: 0;

          &__img {
            width: 80%;
            height: 400px;
            margin: auto;
          }

          &__text {
            width: 100%;
            padding-top: 20px;
            border-top: 1px solid $gray-20;
            margin-top: 40px;
            padding-left: 0;
          }
        }
      }

      .product-notice-list {
        margin-top: 40px;
        dl {
          dt {
            width: 200px;
          }
          dd {
            ol {
              flex-wrap: wrap;
              li {
                flex-direction: row;
                width: 30%;
                margin-right: 0;
                margin-bottom: 20px;
                p {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    &__right {
      width: 405px;
      padding-left: 30px;
      h3 {
        margin-top: 35px;
      }
    }
  }

  @include tablet {
    &__left {
      width: 100%;
      border-right: none;
      padding-right: 0;

      h2 {
        font-size: 30px;
        margin-top: 25px;
        padding: 0 40px;
      }
      .product-summary {
        padding: 0 40px;
      }

      .product-info-wrap {
        margin-top: 10px;
        padding: 15px 40px;
        border: 1px solid $gray-30;
        border-radius: 10px;
        border: none;
        .product-info {
          @include flex(strat, start);
          flex-direction: column;
          flex-shrink: 0;

          &__update {
            margin-top: 20px;
            h3 {
              @include text-style(20, $black, 600);
              span {
                color: $blue-40;
              }
            }
            p {
              margin-top: 10px;
              span {
                font-weight: 500;
              }
            }
          }

          &__text {
            margin-top: 20px;
          }
        }
      }
      .mobile-calendar {
        &__wrap {
          width: fit-content;
          margin: auto;
          padding-bottom: 25px;
        }
      }
      .product-notice-list {
        padding: 0px 40px;
        dl {
          flex-direction: column;
          dt {
            width: 100%;
          }
          dd {
            width: 100%;
            margin-top: 20px;
            ol {
              flex-wrap: wrap;
              li {
                flex-direction: row;
                width: 30%;
                margin-right: 0;
                margin-bottom: 20px;
                p {
                  margin-left: 10px;
                }
              }
            }
            ul {
              li {
                p {
                  margin-left: 5px;
                }
              }
            }
            .map-wrap {
              height: 248px;
            }
          }
        }
      }
      .enterprise-info-wrap {
        padding: 0 40px;
      }
    }
  }

  @include mobile {
    &__left {
      h2 {
        @include text-style(24, $black, 600);
        margin-top: 20px;
        padding: 0 20px;
      }

      .product-summary {
        padding: 0 20px;
      }
      .product-info-wrap {
        padding: 10px 20px;
        .product-info {
          @include flex(strat, start);
          flex-direction: column;
          flex-shrink: 0;

          &__img {
            width: 100%;
            height: 400px;
            margin: auto;
          }
        }
      }
      .product-notice-list {
        margin-top: 0px;
        padding: 0 20px;
        dl {
          dd {
            ol {
              flex-wrap: wrap;
              li {
                flex-direction: row;
                width: 48%;
                margin-right: 0;
                margin-bottom: 13px;
                p {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .enterprise-info-wrap {
        padding: 0 20px;
      }
    }
  }
}
