.checkbox {
  @include inline-flex;
  &__input {
    appearance: none;
    vertical-align: middle;
  }
  &__label {
    position: relative;
    @include inline-flex;
    border: 2px solid $gray-50;
    box-sizing: border-box;
    cursor: pointer;
    &--type-checkbox {
      border-radius: 2px;
    }
    &--type-radio {
      border-radius: 50%;
    }
    & > svg {
      display: none;
    }
  }
  &__input:checked + &__label {
    &--type-radio {
      border-color: $blue-50;
    }
    & > svg {
      @include pos-center;
      display: block;
    }
    & > div {
      border: 1px solid $blue-50;
      border-radius: 50%;
      background-color: $blue-50;
      box-sizing: border-box;
    }
  }
  &__input:focus + &__label {
    border-color: $blue-50;
  }
}
