.footer {
  @include text-style(16, $gray-70, 400);
  width: 100%;
  padding: 60px 0 100px;
  border-top: 1px solid $gray-20;
  background-color: $white;

  .footer-container {
    max-width: 1400px;
    margin: auto;

    h3 {
      margin-bottom: 25px;
    }

    div {
      margin-top: 35px;
    }

    ul li:first-child::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 0px 7px;
      background-color: $gray-40;
    }

    .footer__info {
      display: flex;
      margin-top: 10px;

      &.terms {
        font-weight: 600;
      }
    }

    p {
      margin-top: 10px;
    }
  }
}

@include desktop {
  .footer {
    padding: 60px 40px 100px;
  }

  .footer-container {
    .footer__info {
      flex-wrap: wrap;
    }
  }
}

@include tablet {
  .footer {
    @include text-style(14, $gray-70, 400);
    padding: 30px 40px 60px;

    .footer-container {
      div {
        margin-top: 20px;
      }
      .footer__info {
        margin-top: 5px;
        &.column {
          flex-direction: column;
          li:first-child {
            margin-bottom: 5px;
            margin-right: 10px;
          }
          li:first-child::after {
            display: none;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@include mobile {
  .footer {
    padding: 20px 20px 30px;
  }
}
