.category {
  margin-bottom: 30px;
  @include tablet {
    margin: 16px 0;
  }
}

.skeleton {
  width: 100%;
  height: 640px;
  border-radius: 8px;
  background-color: $gray-10;
  @include tablet {
    height: 420px;
  }
}
