.card-wrap {
  position: relative;
  margin-left: 5px;
  background-color: $white;
  transition: 0.4s;

  .card-badge {
    position: absolute;
    left: -4px;
    top: 15px;
  }
  .text-content {
    padding: 20px 15px;
    &__info {
      margin-bottom: 20px;
      h4 {
        @include flex(between, center);
        color: $blue-50;
      }
      h3 {
        @include line-clamp(1);
        margin-top: 7px;
        margin-bottom: 0;
        font-size: 18px;
      }
      p {
        @include text-style(14, $gray-80, 400);
        margin-top: 5px;
        span {
          @include text-style(12, $gray-60, 400);
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
    &__type {
      @include flex(between, center);
      margin-top: 12px;
      div {
        @include flex(start, center);
        div {
          margin-left: 10px;
        }
      }
      p {
        @include text-style(14, $black, 400);
        span {
          color: $gray-60;
        }
      }
    }
  }

  &--vertical {
    width: 320px;
    border: 1px solid $gray-20;
    border-radius: 16px; //horizontal 8

    .text-content {
      .reward {
        @include line-clamp(2);
        height: 35px;
      }
    }
    .image-content {
      position: relative;
      height: 320px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .like-info {
        @include flex(between, center);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 15px;
        p {
          @include text-style(12, $black, 500);
          @include flex(start, center);
          padding: 0 5px;
          border-radius: 4px;
          border: 1px solid $gray-20;
          background-color: $white;
          span {
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  &--horizontal {
    @include flex(start, start);
    margin-top: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid $gray-20;
    .image-content {
      width: 148px;
      height: 148px;
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-content {
      width: calc(100% - 148px);
      padding: 5px 15px;
      .reward {
        @include line-clamp(1);
      }
      &__type {
        .point-info {
          @include text-style(12, $black, 500);
          @include flex(start, center);
          padding: 0 5px;
          margin-left: 10px;
          border-radius: 4px;
          border: 1px solid $gray-20;
          background-color: $white;
          span {
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }
  }

  @include tablet {
    &--vertical {
      margin-left: 34px;
    }
  }

  @include mobile {
    .text-content {
      padding: 15px 12px;
      &__info {
        margin-bottom: 15px;
        h4 {
          font-size: 14px;
        }
        h3 {
          margin-top: 7px;
          font-size: 16px;
        }
        p {
          @include text-style(12, $gray-80, 400);
          margin-top: 5px;
          span {
            margin-top: 5px;
          }
        }
      }

      &__type {
        margin-top: 10px;
        div {
          @include flex(start, center);
          div {
            margin-left: 5px;
            padding: 0;
          }
        }
        p {
          @include text-style(12, $black, 400);
        }
      }
    }
    &--vertical {
      width: 280px;
      margin-left: 17px;
      .text-content {
        .reward {
          @include line-clamp(2);
          height: 30px;
        }
      }
      .image-content {
        height: 280px;
      }
    }
    &--horizontal {
      margin-top: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid $gray-20;
      .image-content {
        width: 100px;
        height: 120px;
      }
      .text-content {
        width: calc(100% - 100px);
        padding: 0 10px;
        &__info {
          margin-bottom: 7px;
          h3 {
            margin-top: 0px;
          }
          p {
            span {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

.card-wrap.search-page {
  margin-left: 0px;
  margin-bottom: 30px;
  .image-content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  @include desktop {
    width: 32%;
  }

  @include tablet {
    width: 48.5%;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    .image-content {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .text-content {
      padding: 0;
      padding-top: 5px;
    }
  }
}
