.card-wrap {
  position: relative;
  margin-left: 5px;
  background-color: $white;
  transition: 0.4s;

  .card-badge {
    position: absolute;
    left: -4px;
    top: 15px;
  }
  .text-content {
    padding: 20px 15px;
    &__info {
      margin-bottom: 20px;
      h4 {
        @include flex(between, center);
        color: $blue-50;
      }
      h3 {
        @include line-clamp(1);
        margin-top: 7px;
        margin-bottom: 0;
        font-size: 18px;
      }
      p {
        @include text-style(14, $gray-80, 400);
        margin-top: 5px;
        span {
          @include text-style(12, $gray-60, 400);
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
    &__type {
      @include flex(between, center);
      margin-top: 12px;
      div {
        @include flex(start, center);
        div {
          margin-left: 10px;
        }
      }
      p {
        @include text-style(14, $black, 400);
        span {
          color: $gray-60;
        }
      }
    }
  }

  &--vertical {
    width: 320px;
    border: 1px solid $gray-20;
    border-radius: 16px; //horizontal 8

    .text-content {
      .reward {
        @include line-clamp(2);
        height: 35px;
      }
    }
    .image-content {
      position: relative;
      height: 320px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .like-info {
        @include flex(between, center);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 15px;
        p {
          @include text-style(12, $black, 500);
          @include flex(start, center);
          padding: 0 5px;
          border-radius: 4px;
          border: 1px solid $gray-20;
          background-color: $white;
          span {
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  &--horizontal {
    @include flex(start, start);
    margin-top: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid $gray-20;
    .image-content {
      width: 148px;
      height: 148px;
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text-content {
      width: calc(100% - 148px);
      padding: 5px 15px;
      .reward {
        @include line-clamp(1);
      }
      &__type {
        .point-info {
          @include text-style(12, $black, 500);
          @include flex(start, center);
          padding: 0 5px;
          margin-left: 10px;
          border-radius: 4px;
          border: 1px solid $gray-20;
          background-color: $white;
          span {
            margin-left: 5px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
