.container {
  padding: 60px 60px 80px;
  background-color: $white;
  border-radius: 16px;

  .title {
    @include text-style(24, $black, 600);

    &::after {
      display: block;
      margin-top: 20px;
      width: 100%;
      height: 1px;
      background-color: $gray-40;
      content: "";
    }
  }

  .sub-title {
    @include text-style(16, $black, 500);
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .article {
    margin-top: 40px;
  }

  .info-message {
    @include text-style(12, $gray-70);
  }

  @include tablet {
    padding: 30px 30px 40px;

    .article {
      &:first-of-type {
        margin-top: 20px;
      }
    }
  }
}
