.container {
  padding-top: 50px;
  padding-bottom: 100px;

  h2 {
    @include text-style(36, $black, 600);
  }

  // 상단 필터 섹션
  .select-section {
    @include flex(between, start);
    position: relative;
    margin-top: 20px;

    // 좌측 지역선택
    &__left {
      // @include flex(start, center);
      @include text-style(20, $black, 500);
      .select-title {
        @include flex(start, center);
        gap: 15px;
        p {
          @include flex(start, center);
          gap: 15px;
          span {
            margin-top: 5px;
          }
        }
        button {
          @include flex(start, center);
          gap: 15px;
          margin-left: 10px;
          font-weight: 500;
          span {
            margin-top: 4px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .selected-option {
        @include flex(start, center);
        @include text-style(16, $blue-40, 400);
        margin-top: 10px;
        .selected-item {
          @include flex(start, center);
          width: fit-content;
          max-width: 200px;
          margin-right: 10px;
          padding: 8px 16px;
          border-radius: 20px;
          background-color: $blue-10;

          button {
            margin-top: 3px;
            margin-left: 5px;
          }
        }
      }
    }

    // 우측 셀렉트 섹션
    &__right {
      @include flex(start, center);
      gap: 10px;

      button {
        @include flex(start, center);
        flex-shrink: 0;
        height: 38px;
        padding: 0px 10px;
        border: 1px solid $gray-20;
        border-radius: 4px;
        span {
          display: inline-block;
          margin-left: 5px;
          color: $gray-60;
        }
      }
    }
    // 모달 위치
    .modal-position {
      position: absolute;
      left: 0;
    }
  }

  // 카드 섹션
  .card-section {
    @include flex(start, start);
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 40px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;

    @include desktop {
      gap: 2%;
    }

    @include tablet {
      @include flex(between, start);
      gap: 0;
    }
  }
}
