.container {
  padding-top: 50px;
  padding-bottom: 100px;

  h2 {
    @include text-style(36, $black, 600);
  }

  // 상단 필터 섹션
  .select-section {
    @include flex(between, start);
    position: relative;
    margin-top: 20px;

    // 좌측 지역선택
    &__left {
      // @include flex(start, center);
      @include text-style(20, $black, 500);
      .select-title {
        @include flex(start, center);
        gap: 15px;
        p {
          @include flex(start, center);
          gap: 15px;
          span {
            margin-top: 5px;
          }
        }
        button {
          @include flex(start, center);
          gap: 15px;
          margin-left: 10px;
          font-weight: 500;
          span {
            margin-top: 4px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .selected-option {
        @include flex(start, center);
        @include text-style(16, $blue-40, 400);
        margin-top: 10px;
        .selected-item {
          @include flex(start, center);
          width: fit-content;
          max-width: 200px;
          margin-right: 10px;
          padding: 8px 16px;
          border-radius: 20px;
          background-color: $blue-10;

          button {
            margin-top: 3px;
            margin-left: 5px;
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }

    // 우측 셀렉트 섹션
    &__right {
      @include flex(start, center);
      gap: 10px;

      button {
        @include flex(start, center);
        flex-shrink: 0;
        height: 38px;
        padding: 0px 10px;
        border: 1px solid $gray-20;
        border-radius: 4px;
        span {
          display: inline-block;
          margin-left: 5px;
          color: $gray-60;
        }
      }
    }
    // 모달 위치
    .modal-position {
      position: absolute;
      left: 0;
    }
  }

  // 카드 섹션
  .card-section {
    @include flex(start, start);
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 40px;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  // 반응형
  @include desktop {
    .select-section {
      flex-direction: column;
      &__right {
        margin-top: 20px;
      }
    }

    .card-section {
      gap: 2%;
    }
  }

  @include tablet {
    margin-top: 80px;
    padding: 0 40px;

    .card-section {
      @include flex(between, start);
      gap: 0;
    }
  }

  @media (max-width: 815px) {
    margin-top: 80px;
    padding: 0 20px;
  }

  @media (max-width: 666px) {
    h2 {
      padding-left: 20px;
    }
    padding: 0px;
    .select-section {
      &__left {
        width: 100%;
        .select-title {
          padding-left: 20px;
        }
        .selected-option {
          display: flex;
          padding: 0 20px;
          overflow-x: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;
          &::-webkit-scrollbar {
            display: none;
          }

          .selected-item {
            width: fit-content;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
      &__right {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        > div > div {
          position: relative;
        }

        ul {
          position: absolute;
          left: 0;
          z-index: 100;
          overflow: visible;
        }
      }
    }

    .card-section {
      padding: 0 20px;
    }
  }

  @include mobile {
    .card-section {
      padding: 0 20px;
    }
  }
}
