.account {
  &-container {
    padding-top: 50px;
    padding-bottom: 168px;
    width: 100%;
    background: url("/images/bg-account-cover1.jpg") no-repeat left bottom /
      contain;
    background-attachment: fixed;
  }

  &__form-container {
    @include column-flex;
    max-width: 407px;
    width: 100%;
    min-height: 765px;
    margin-left: auto;
    padding: 35px;
    border-radius: 20px;
    background-color: $white;
    box-shadow: $box-shadow;
  }
}
