.campaign {
  &__item {
    @include flex(center, start);
    @include text-style(14, $black, 400);
    gap: 16px;
    position: relative;
    margin-top: 16px;
    border: 1px solid $gray-20;
    border-radius: 8px;
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    flex-shrink: 1;
    width: 216px;
    border-radius: 8px 0 0 8px;

    .img-wrapper {
      width: 100%;
      height: 216px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    button {
      position: absolute;
      bottom: 12px;
      right: 12px;
    }
  }

  &__info-container {
    position: relative;
    flex-grow: 1;
    padding: 18px 16px 18px 0;

    .info-top {
      padding-bottom: 20px;

      .deadline {
        @include text-style(14, $blue-50, 600);
      }

      h3 {
        @include text-style(18, $black, 600);
        margin-top: 6px;
      }

      .reward {
        color: $gray-80;
        margin-top: 6px;
      }

      .date {
        @include text-style(12, $gray-60, 500);
        margin-top: 10px;
      }

      .state {
        position: absolute;
        top: 18px;
        right: 16px;

        > div {
          @include flex;
          padding-left: 12px;
          padding-right: 12px;
          line-height: 22px;
        }
      }
    }

    .info-bottom {
      @include flex(between);
      padding-top: 12px;
      border-top: 1px solid $gray-20;

      .text-container {
        @include flex(start);
        gap: 8px;

        .type {
          > div {
            @include flex;
            padding-left: 6px;
            padding-right: 6px;
          }
        }

        .point {
          @include flex;
          @include text-style(12, $black, 600);
          gap: 4px;
          padding: 4px 8px;
          border: 1px solid $gray-20;
          border-radius: 4px;
        }

        .apply {
          span {
            color: $gray-50;
          }
        }
      }

      .button-container {
        @include flex;
        gap: 10px;
      }
    }
  }

  .campaign-label {
    @include text-style(14, $white, 600);
    position: absolute;
    left: -4px;
    top: 16px;
    padding: 8px 14px;
    line-height: 1.4;
    background: $gradation-dain;
    border-radius: 0 50px 50px 0;

    &::after {
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 0;
      border-bottom: 2px solid transparent;
      border-top: 2px solid $blue-30;
      border-left: 2px solid transparent;
      border-right: 2px solid $blue-30;
      content: "";
    }

    &.premium {
      background: $gradation-premium;

      &::after {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 0;
        border-bottom: 2px solid transparent;
        border-top: 2px solid $purple-20;
        border-left: 2px solid transparent;
        border-right: 2px solid $purple-20;
        content: "";
      }
    }
  }

  @include desktop {
    .info-bottom {
      @include column-flex(center, start);
      gap: 14px;
      padding-top: 14px;

      .text-container {
        @include flex(start);
        flex-wrap: wrap;
        gap: 8px;

        @include mobile {
          max-width: 165px;
        }
      }

      .button-container {
        @include flex;
        gap: 10px;
        margin-left: auto;

        button {
          padding: 0 30px;
          word-break: keep-all;
        }
      }
    }
  }

  @include tablet {
    &__item {
      gap: 10px;
      margin-top: 0;
      padding: 20px 0 26px;
      border-radius: 0;
      border: none;
      border-top: 1px solid $gray-20;
    }

    &__img-container {
      width: 100px;
      border-radius: 8px;

      .img-wrapper {
        height: 100px;
      }

      button {
        right: 8px;
        bottom: 5px;
      }
    }

    &__info-container {
      padding: 0;

      .info-top {
        .deadline {
          font-size: 12px;
        }

        h3 {
          font-size: 16px;
          margin-top: 10px;
        }

        .state {
          top: 0;
          right: 0;
        }
      }
    }

    .campaign-label {
      left: -4px;
      top: 30px;
      font-size: 10px;
      padding: 5px 7px;
      line-height: 1.2;
    }
  }
}
