.mobile-footer {
  @include flex(around, center);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0 30px;
  border-top: 1px solid $gray-20;
  background-color: $white;
  display: none;

  li {
    width: 20%;
    text-align: center;

    a {
      display: block;
    }
    span {
      display: block;

      &.active {
        color: $blue-40;
      }
    }
  }

  @include tablet {
    @include flex(around, center);
    z-index: $header-level;
  }
  @include mobile {
    padding: 10px 0 20px;
    font-size: 14px;
    z-index: $header-level;
  }
}
