.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;

  &:not(caption) {
    position: absolute;
  }
}

.text-underline {
  text-decoration: underline;
}

.text-require {
  color: $alert-blue;
}

.error-message {
  @include text-style(12, $alert-red, 600);
  margin-top: 3px;
}
