.profile-container {
  padding: 52px 32px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid $gray-20;
  border-radius: 8px;
  background-color: $white;
  box-shadow: $profile-box-shadow;

  .profile__img {
    display: inline-block;

    > div {
      > div {
        > button {
          width: 123px;
          height: 123px;
          border-radius: 50%;
        }
      }
    }
  }

  .name-container {
    strong {
      @include text-style(28, $black, 600);
      display: block;
      margin-top: 34px;
    }
  }

  .type {
    @include text-style(16, $gray-60);
    display: block;
    margin-top: 13px;
  }

  .state {
    margin-top: 20px;
    > div {
      line-height: 22px;
    }
  }

  .button-container {
    margin-top: 72px;

    button {
      padding: 0 12px;
      margin-top: 12px;
    }
  }

  @include tablet {
    position: relative;
    padding: 30px 0 40px 7px;
    margin-bottom: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .profile__img {
      position: absolute;
      right: 0;
      top: 30px;

      button {
        width: 80px;
        height: 80px;
      }
    }

    .name-container {
      @include flex(start);

      strong {
        margin-top: 0;
      }

      a {
        display: inline-block;
        padding-right: 5px;
        margin-top: 5px;
      }
    }

    .button-container {
      margin-top: 40px;
    }
  }
}
